In [1]:
import pandas as pd
import numpy as np
import nltk
import re

from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import tokenize

In [2]:
df = pd.read_csv("test.csv")
df.head()

,episode #,episode,name,line,arc #,arc
0,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,"Hello, everyone. →",A1,Arc 1: Come Together
1,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(laughter) →,A1,Arc 1: Come Together
2,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,And welcome to tonight's episode of Critical R...,A1,Arc 1: Come Together
3,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(cheering) →,A1,Arc 1: Come Together
4,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,Super excited to be back. I've missed this a l...,A1,Arc 1: Come Together

In [3]:
def remove_arrows(line):
    
    line = re.sub(u'\u2192', '', line)

    return line

df.line = df.line.apply(remove_arrows)
df.head()

,episode #,episode,name,line,arc #,arc
0,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,"Hello, everyone.",A1,Arc 1: Come Together
1,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(laughter),A1,Arc 1: Come Together
2,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,And welcome to tonight's episode of Critical R...,A1,Arc 1: Come Together
3,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(cheering),A1,Arc 1: Come Together
4,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,Super excited to be back. I've missed this a l...,A1,Arc 1: Come Together

In [6]:
everyone = df[df["name"] == "ALL"]
everyone.head()

,episode #,episode,name,line,arc #,arc
958,E1,Campaign 2 Episode 1 Curious Beginnings,ALL,Yeah. →,A1,Arc 1: Come Together
1099,E1,Campaign 2 Episode 1 Curious Beginnings,ALL,Concave. →,A1,Arc 1: Come Together
1109,E1,Campaign 2 Episode 1 Curious Beginnings,ALL,Going to the book. →,A1,Arc 1: Come Together
1137,E1,Campaign 2 Episode 1 Curious Beginnings,ALL,Aww. →,A1,Arc 1: Come Together
1150,E1,Campaign 2 Episode 1 Curious Beginnings,ALL,"It's a large, curved sword. →",A1,Arc 1: Come Together