In [20]:
import pandas as pd
import numpy as np
import nltk
import re

nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import tokenize

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\hdodd\AppData\Roaming\nltk_data...

In [2]:
df = pd.read_csv("test.csv")
df.head()

,episode #,episode,name,line,arc #,arc
0,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,"Hello, everyone. →",A1,Arc 1: Come Together
1,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(laughter) →,A1,Arc 1: Come Together
2,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,And welcome to tonight's episode of Critical R...,A1,Arc 1: Come Together
3,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(cheering) →,A1,Arc 1: Come Together
4,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,Super excited to be back. I've missed this a l...,A1,Arc 1: Come Together

In [21]:
def remove_arrows(line):
    
    line = re.sub(u'\u2192', '', line)

    return line

df.line = df.line.apply(remove_arrows)
df.head()

,episode #,episode,name,line,arc #,arc
0,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,"Hello, everyone.",A1,Arc 1: Come Together
1,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(laughter),A1,Arc 1: Come Together
2,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,And welcome to tonight's episode of Critical R...,A1,Arc 1: Come Together
3,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(cheering),A1,Arc 1: Come Together
4,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,Super excited to be back. I've missed this a l...,A1,Arc 1: Come Together

In [22]:
df.value_counts("name")

name
MATT        3444
LAURA       1798
SAM         1431
MARISHA     1407
LIAM        1315
TALIESIN    1251
TRAVIS      1175
ASHLEY       192
ALL           45
EVERYONE       1
Name: count, dtype: int64

In [32]:
analyzer = SentimentIntensityAnalyzer()

df['sentiment'] = df.line.map(lambda text: analyzer.polarity_scores(text)["compound"])

df.head()

,episode #,episode,name,line,arc #,arc,polarity,sentiment
0,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,"Hello, everyone.",A1,Arc 1: Come Together,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(laughter),A1,Arc 1: Come Together,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,And welcome to tonight's episode of Critical R...,A1,Arc 1: Come Together,"{'neg': 0.066, 'neu': 0.778, 'pos': 0.156, 'co...",0.4767
3,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,(cheering),A1,Arc 1: Come Together,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,E1,Campaign 2 Episode 1 Curious Beginnings,MATT,Super excited to be back. I've missed this a l...,A1,Arc 1: Come Together,"{'neg': 0.067, 'neu': 0.641, 'pos': 0.292, 'co...",0.9673

In [34]:
df.groupby('name')["sentiment"].describe()

           count      mean       std     min  25%  50%       75%     max
name
ALL         45.0  0.188216  0.267711 -0.3595  0.0  0.0  0.526700  0.6114
ASHLEY     192.0  0.092809  0.343728 -0.8720  0.0  0.0  0.317600  0.8750
EVERYONE     1.0  0.000000       NaN  0.0000  0.0  0.0  0.000000  0.0000
LAURA     1798.0  0.090318  0.326753 -0.9171  0.0  0.0  0.305225  0.9798
LIAM      1315.0  0.085507  0.324409 -0.9424  0.0  0.0  0.296000  0.9274
MARISHA   1407.0  0.067466  0.352312 -0.9295  0.0  0.0  0.318200  0.9694
MATT      3444.0  0.044572  0.365381 -0.9709  0.0  0.0  0.273200  0.9967
SAM       1431.0  0.037410  0.322805 -0.9217  0.0  0.0  0.177900  0.9835
TALIESIN  1251.0  0.043210  0.331168 -0.9625  0.0  0.0  0.273200  0.9480
TRAVIS    1175.0  0.051339  0.317182 -0.9246  0.0  0.0  0.296000  0.8834